a {
    text-decoration: underline; /* Adiciona sublinhado a todos os links */
    color: black; /* Você pode alterar a cor do link aqui */
}

.tabelas-programacao {
    width: 98%;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b8d82ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.programacao {
    width: 94%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botoes-dias {
    text-align: center;
    margin-bottom: 20px;
}

.botoes-dias button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.botoes-dias button.active {
    background-color: #1b8d82ff;
    color: white;
    border-color: #1b8d82ff;
}

.botoes-dias button:hover {
    background-color: #fcce54ff;
    color: fcce54ff;
    border-color: #fcce54ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1b8d82ff;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

footer {
    
    background-color: #1b8d82ff;
    color: white;
    padding: 35px;
    text-align: center;   
}

.logo {
    height: 140px;
    margin-left: 20px;
}

/* Estilo do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

 /* Estiliza o botão de voltar */
 .back-button {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.back-button:hover {
    background-color: #fcce54ff;
    cursor: pointer;
}

.back-button i {
    margin-right: 8px;
}

.floating-button {
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: #fcce54ff; /* Cor de fundo com opacidade */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex; /* Flexbox para centralizar ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.floating-button:hover {
    background-color: #1b8d82ff; /* Cor ao passar o mouse */
}

.floating-button-lang {
    position: fixed; /* Fixa o botão na tela */
    top: 100px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: rgb(214, 214, 214); /* Cor de fundo com opacidade */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex; /* Flexbox para centralizar ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.floating-button-lang:hover {
    background-color: #fcce54ff; /* Cor ao passar o mouse */
}

.floating-button-lang-pt {
    position: fixed; /* Fixa o botão na tela */
    top: 180px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: rgb(214, 214, 214); /* Cor de fundo com opacidade */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex; /* Flexbox para centralizar ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.floating-button-lang-pt:hover {
    background-color: #fcce54ff; /* Cor ao passar o mouse */
}

.float-button-mapa {
    position: fixed; /* Fixa o botão na tela */
    top: 180px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: rgb(214, 214, 214);/* Cor de fundo com opacidade */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex; /* Flexbox para centralizar ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.float-button-mapa:hover {
    background-color: #1b8d82ff; /* Cor ao passar o mouse */
}

.icon {
    font-size: 24px; /* Tamanho do ícone */
}

/* Estilo para o botão de selecionar língua (direita) */
#languageBtn {
    right: 20px;
}

.footnote {
    font-size: 0.8em;
    vertical-align: super;
    text-decoration: none;
}

.footnote-text {
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center; /* Centraliza a nota de rodapé */
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.container_2 {
    display: flex;
    align-items: center;
   
    max-width: 800px; /* Limita a largura do conteúdo */
    margin: 20px;
    

}
.container img {
    max-width: 400px; /* Aumentando o tamanho da imagem */
    margin-right: 20px;
    border-radius: 8px;
}
.texto-palestra {
    max-width: 600px;
    text-align: justify;
}

/*
.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#searchInput {
    width: 60%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
    transition: box-shadow 0.3s ease;
}
#searchInput:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}
.tabelas-programacao.hidden {
    display: none;
}
*/

.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#searchInput {
    width: 60%;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
    transition: box-shadow 0.3s ease;
}
#searchInput:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}
.tabelas-programacao.hidden {
    display: none;
}
.tabela-programacao tr.hidden {
    display: none;
}

#topButton {
    display: none; /* Esconde o botão inicialmente */
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto translúcido */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra leve */
    transition: opacity 0.3s ease; /* Transição de aparecimento */
}

#topButton:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Aumenta a opacidade ao passar o mouse */
}

 /* Estilos responsivos para telas menores */
 @media screen and (max-width: 300px) {
    table {
        border: 0;
    }
    
    table thead {
        display: none;
    }
    
    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    
    
    
    table td {
        display: block;
        text-align: right;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }
    
    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    .texto-palestra h2 {
        font-size: 1.2em; /* Reduzir tamanho do título */
    }

}

@media (max-width: 100px) {
    .texto-palestra h2 {
        font-size: 2em; /* Reduzir tamanho do título */
    }

    .footer {
        background-color: #1b8d82ff;
        color: white;
        padding: 10px;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 50%;
    }

}

@media (max-width: 300px) {
    .texto-palestra h2 {
        font-size: 1em; /* Tamanho ainda menor para telas pequenas */
    }
}
